In [1]:
from selenium import webdriver
import time
import pandas as pd
import os

In [2]:
from selenium.webdriver.support.select import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [3]:
url1="https://www.linkedin.com/jobs/search/?currentJobId=3591265081&f_E=2&f_PP=105214831%2C105556991%2C106888327&f_WT=2&geoId=102713980&keywords=Data%20Analyst&location=India&sortBy=R"

In [4]:
driver = webdriver.Chrome(executable_path=r'D:\cromeDriver\\chromedriver.exe')
driver.implicitly_wait(10)
driver.get(url1)

C:\Users\Malleswari\AppData\Local\Temp\ipykernel_4776\3563204038.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=r'D:\cromeDriver\\chromedriver.exe')

In [5]:
from selenium.webdriver.common.by import By

n=driver.find_element(By.CLASS_NAME, "results-context-header__job-count").text

In [7]:
n

'259'

In [8]:
t=pd.to_numeric(n)
t

259

In [9]:
i = 2
while i <=int((t+200)/25)+1: 
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    i+=1
    
    try:
        send=driver.find_element_by_xpath("//button[@aria-label='See more jobs']")
        driver.execute_script("arguments[0].click();", send)   
        time.sleep(3)
        buu=driver.find_elements_by_tag_name("button")
        x=[btn for btn in buu if btn.text=="See more jobs"]
        for btn in x:
            driver.execute_script("arguments[0].click();", btn)
            time.sleep(3)
        
        
    except:
        
        pass
        time.sleep(3)

In [10]:
companyname= []
titlename= []

In [11]:
try:
    for i in range(t):
        company=driver.find_element(By.CLASS_NAME, 'hidden-nested-link').text
        companyname.append(company)
        
            
    

        
    

    
    
except IndexError:
    print("no")

In [12]:
len(companyname)

259

In [13]:
try:
    for i in range(t):
        
        
        title=driver.find_element(By.CLASS_NAME,'base-search-card__title').text
    

        titlename.append(title)
        
            


    
    
except IndexError:
    print("no")

In [14]:
len(titlename)

259

In [15]:
companyfinal=pd.DataFrame(companyname,columns=["company"])
titlefinal=pd.DataFrame(titlename,columns=["title"])

In [16]:
x=companyfinal.join(titlefinal)

In [17]:
x

                   company                                              title
0    Innometrics Solutions  Fresh Data Analyst Or Business Analyst (0-1 ye...
1    Innometrics Solutions  Fresh Data Analyst Or Business Analyst (0-1 ye...
2    Innometrics Solutions  Fresh Data Analyst Or Business Analyst (0-1 ye...
3    Innometrics Solutions  Fresh Data Analyst Or Business Analyst (0-1 ye...
4    Innometrics Solutions  Fresh Data Analyst Or Business Analyst (0-1 ye...
..                     ...                                                ...
254  Innometrics Solutions  Fresh Data Analyst Or Business Analyst (0-1 ye...
255  Innometrics Solutions  Fresh Data Analyst Or Business Analyst (0-1 ye...
256  Innometrics Solutions  Fresh Data Analyst Or Business Analyst (0-1 ye...
257  Innometrics Solutions  Fresh Data Analyst Or Business Analyst (0-1 ye...
258  Innometrics Solutions  Fresh Data Analyst Or Business Analyst (0-1 ye...

[259 rows x 2 columns]